In [1]:
import pandas as pd

In [2]:
pbp_data = pd.read_csv('data/game_data/2014111300_plays.csv')

In [3]:
pbp_data.sort_values(by=['drive','play'], axis=0, inplace=True)

In [4]:
pbp_data.head()

,drive,play,down,time,desc,ydstogo,qtr,ydsnet,yrdln,sp,posteam,note
135,1,36,0,15:00,NaN,0,1,13,BUF 35,0,BUF,KICKOFF
118,1,69,1,14:47,NaN,10,1,13,MIA 12,0,MIA,NaN
132,1,93,1,14:26,NaN,10,1,15,MIA 25,0,MIA,NaN
127,1,117,2,13:49,NaN,8,1,25,MIA 27,0,MIA,NaN
128,1,146,1,13:14,NaN,10,1,27,MIA 37,0,MIA,NaN

#### Getting the point_spread data

In [5]:
fav = 'MIA'

In [6]:
spread = -4

In [7]:
pbp_data['scorediff'] = spread

In [8]:
cur_scorediff = spread
for index,row in pbp_data.iterrows():
    if row['sp'] == 1:
        if row['note'] == 'TD':
            if row['posteam'] == fav:
                cur_scorediff += 6
            else:
                cur_scorediff -= 6
        if row['note'] == 'FG' or row['note'] == 'SAF':
            if row['posteam'] == fav:
                cur_scorediff += 3
            else:
                cur_scorediff -= 3
        if row['note'] == 'XP':
            if row['posteam'] == fav:
                cur_scorediff += 1
            else:
                cur_scorediff -= 1
    pbp_data.loc[index,'scorediff'] = cur_scorediff

#### Generating the Y axis i.e. was the bet cleared or not

In [9]:
pbp_data['betcleared'] = True

In [10]:
pbp_y = pbp_data['betcleared']
pbp_x = pbp_data.drop(['betcleared'], axis=1)

#### Now filtering the data

In [11]:
colnames_x = ['down','scorediff', 'ydstogo','betcleared']

In [12]:
from sklearn import svm

In [13]:
clf = svm.SVC()

In [14]:
pbp_X = pbp_data[colnames_x].dropna(axis=0,how='any')

In [15]:
pbp_Y = pbp_X['betcleared']
pbp_X = pbp_X.drop(['betcleared'], axis=1)

filling half of the Y array with false

In [16]:
pbp_Y.iloc[75:] = False

In [17]:
clf.fit(pbp_X, pbp_Y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [18]:
predi_Y = clf.decision_function(pbp_X)

In [19]:
classes = clf.predict(pbp_X)

In [20]:
predi_Y[65:75]

array([-0.9999092 , -1.00017479,  0.50364045, -0.9999092 , -0.06023438,
        0.31208934,  1.00018783,  1.00020594, -0.9999092 ,  0.31208934])

In [21]:
classes[65:75]

array([False, False,  True, False, False,  True,  True,  True, False,  True], dtype=bool)

#### predict gives the classification of the inputs and decision_function shows how far away the value is from the hyperplace

## Reading the point spread file for all the games !! (14/11)

In [22]:
spread = pd.read_csv('data/point_spread.csv')

In [23]:
spread.head()

,eid,season,week,Home,Away,HomeScore,AwayScore,Day,Time,Favorite,Underdog,Spread
0,2014090400,2014,1,SEA,GB,36.0,16.0,Thu,8:30,SEA,GB,-5.0
1,2014090700,2014,1,ATL,NO,37.0,34.0,Sun,1:00,NO,ATL,-3.0
2,2014090701,2014,1,BAL,CIN,16.0,23.0,Sun,1:00,BAL,CIN,-1.0
3,2014090702,2014,1,CHI,BUF,20.0,23.0,Sun,1:00,CHI,BUF,-7.0
4,2014090703,2014,1,HOU,WAS,17.0,6.0,Sun,1:00,HOU,WAS,-3.0

In [25]:
pbp_data.head(100)

,drive,play,down,time,desc,ydstogo,qtr,ydsnet,yrdln,sp,posteam,note,scorediff,betcleared
135,1,36,0,15:00,NaN,0,1,13,BUF 35,0,BUF,KICKOFF,-4,True
118,1,69,1,14:47,NaN,10,1,13,MIA 12,0,MIA,NaN,-4,True
132,1,93,1,14:26,NaN,10,1,15,MIA 25,0,MIA,NaN,-4,True
127,1,117,2,13:49,NaN,8,1,25,MIA 27,0,MIA,NaN,-4,True
128,1,146,1,13:14,NaN,10,1,27,MIA 37,0,MIA,NaN,-4,True
125,1,167,2,12:46,NaN,8,1,32,MIA 39,0,MIA,PENALTY,-4,True
119,1,190,2,12:24,NaN,3,1,44,MIA 44,0,MIA,NaN,-4,True
124,1,214,1,11:46,NaN,10,1,48,BUF 44,0,MIA,NaN,-4,True
129,1,235,2,11:10,NaN,6,1,55,BUF 40,0,MIA,NaN,-4,True
122,1,259,1,10:30,NaN,10,1,43,BUF 33,0,MIA,NaN,-4,True
121,1,278,2,09:48,NaN,22,1,41,BUF 45,0,MIA,NaN,-4,True
131,1,299,0,09:05,NaN,0,1,41,NaN,0,NaN,TIMEOUT,-4,True
126,1,316,3,09:05,NaN,24,1,73,BUF 47,0,MIA,NaN,-4,True
123,1,340,1,08:39,NaN,10,1,79,BUF 15,0,MIA,NaN,-4,True
133,1,364,2,07:55,NaN,4,1,69,BUF 9,0,MIA,PENALTY,-4,True
120,1,396,2,07:30,NaN,14,1,68,BUF 19,0,MIA,NaN,-4,True
130,1,420,3,06:50,NaN,15,1,68,BUF 20,0,MIA,NaN,-4,True
134,1,442,4,06:44,NaN,15,1,68,BUF 20,1,MIA,FG,-1,True
115,2,461,0,06:40,NaN,0,1,0,MIA 35,0,MIA,KICKOFF,-1,True
104,2,483,1,06:35,NaN,10,1,9,BUF 18,0,BUF,NaN,-1,True
112,2,507,2,06:04,NaN,1,1,14,BUF 27,0,BUF,NaN,-1,True
107,2,531,1,05:31,NaN,10,1,20,BUF 32,0,BUF,NaN,-1,True
117,2,552,2,04:54,NaN,4,1,20,BUF 38,0,BUF,NaN,-1,True
108,2,574,3,04:47,NaN,4,1,27,BUF 38,0,BUF,NaN,-1,True
103,2,598,1,04:08,NaN,10,1,32,BUF 45,0,BUF,NaN,-1,True
114,2,622,2,03:26,NaN,5,1,34,MIA 50,0,BUF,NaN,-1,True
113,2,646,3,02:41,NaN,3,1,49,MIA 48,0,BUF,NaN,-1,True
102,2,670,1,02:18,NaN,10,1,56,MIA 33,0,BUF,NaN,-1,True
116,2,691,2,01:44,NaN,3,1,61,MIA 26,0,BUF,NaN,-1,True
105,2,712,1,01:06,NaN,10,1,67,MIA 21,0,BUF,NaN,-1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,5,1628,0,00:50,NaN,0,2,39,NaN,0,NaN,TIMEOUT,-7,True
145,5,1645,3,00:50,NaN,3,2,39,BUF 41,0,MIA,NaN,-7,True
137,5,1678,4,00:41,NaN,3,2,39,BUF 41,0,MIA,PUNT,-7,True
16,6,1699,1,00:31,NaN,10,2,-1,BUF 4,0,BUF,NaN,-7,True
15,6,1720,0,NaN,NaN,0,2,-1,NaN,0,NaN,NaN,-7,True
27,7,1736,0,15:00,NaN,0,3,3,MIA 35,0,MIA,KICKOFF,-7,True
29,7,1758,1,14:55,NaN,10,3,3,BUF 22,0,BUF,NaN,-7,True
26,7,1779,2,14:28,NaN,7,3,9,BUF 25,0,BUF,NaN,-7,True
25,7,1803,3,14:00,NaN,1,3,3,BUF 31,0,BUF,NaN,-7,True
28,7,1824,4,13:31,NaN,7,3,3,BUF 25,0,BUF,PUNT,-7,True
37,8,1843,1,13:09,NaN,10,3,4,MIA 28,0,MIA,NaN,-7,True
31,8,1864,2,12:41,NaN,6,3,4,MIA 32,0,MIA,NaN,-7,True
34,8,1886,3,12:27,NaN,6,3,11,MIA 32,0,MIA,NaN,-7,True
36,8,1923,1,11:51,NaN,10,3,6,MIA 39,0,MIA,PENALTY,-7,True
35,8,1946,1,11:36,NaN,15,3,-4,MIA 34,0,MIA,NaN,-7,True
33,8,1965,0,10:52,NaN,0,3,-4,NaN,0,NaN,TIMEOUT,-7,True
30,8,1982,2,10:52,NaN,25,3,1,MIA 24,0,MIA,NaN,-7,True
38,8,2006,3,10:15,NaN,20,3,1,MIA 29,0,MIA,NaN,-7,True
32,8,2028,4,10:05,NaN,20,3,1,MIA 29,0,MIA,PUNT,-7,True
0,9,2063,1,09:53,NaN,10,3,6,BUF 23,0,BUF,NaN,-7,True
3,9,2087,2,09:27,NaN,4,3,23,BUF 29,0,BUF,NaN,-7,True
1,9,2111,1,08:54,NaN,10,3,26,BUF 46,0,BUF,NaN,-7,True
4,9,2137,2,08:14,NaN,7,3,44,BUF 49,0,BUF,NaN,-7,True
8,9,2161,1,07:24,NaN,10,3,44,MIA 33,0,BUF,NaN,-7,True
6,9,2182,2,06:46,NaN,10,3,44,MIA 33,0,BUF,NaN,-7,True
7,9,2204,3,06:41,NaN,10,3,49,MIA 33,0,BUF,PENALTY,-7,True
5,9,2237,3,06:36,NaN,5,3,49,MIA 28,0,BUF,NaN,-7,True
2,9,2259,4,06:31,NaN,5,3,49,MIA 28,1,BUF,FG,-10,True
44,10,2278,0,06:26,NaN,0,3,11,BUF 35,0,BUF,KICKOFF,-10,True
48,10,2296,1,06:26,NaN,10,3,11,MIA 20,0,MIA,NaN,-10,True

In [ ]:
for index, row in spread.iterrows():
    game_id = row['eid']
    pbp_data = pd.read_csv('data/game_data/'+game_id+'_plays.csv')
    pbp_data['favorite'] = row['Favorite']
    pbp_data['underdog'] = row['Underdog']
    pbp_data['spread'] = row['Spread']
    pbp_data['home_score'] = row